* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: sans-serif;
}

.page-wrapper {
  padding: 1rem;
}

@media screen and (min-width: 1280px) {
  .page-wrapper {
    width: 50%;
    margin: auto;
  }
}

.session-list {
  list-style: none;
  width: 100%;
}

.session-list__item {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.board-state {
  white-space: pre;
  font-family: monospace;
}

@media screen and (min-width: 1280px) {
  .board-state {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
  }
}

.action-bar {
  display: flex;
  justify-content: flex-start;
}

.action-bar__item,
.button {
  font-size: 16px;
  border: 0;
  padding: 1rem;
  background: white;
}

.board {
  display: table;
  width: 150px;
  margin: 2rem auto;
  border-spacing: 0;
  zoom: 2;
}

.board__row {
  display: table-row;
}

.board__cell {
  display: table-cell;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

.board__cell[data-state="tic"]::before {
  content: " ";
}

.board__cell[data-state="tac"]::before {
  content: "X";
}

.board__cell[data-state="toe"]::before {
  content: "O";
}

.board__cell[data-position="0"] {
  border-color: gray transparent transparent gray;
}

.board__cell[data-position="1"] {
  border-color: gray gray transparent gray;
}

.board__cell[data-position="2"] {
  border-color: gray gray transparent transparent;
}

.board__cell[data-position="3"] {
  border-color: gray transparent gray gray;
}

.board__cell[data-position="4"] {
  border-color: gray;
}

.board__cell[data-position="5"] {
  border-color: gray gray gray transparent;
}

.board__cell[data-position="6"] {
  border-color: transparent transparent gray gray;
}

.board__cell[data-position="7"] {
  border-color: transparent gray gray gray;
}

.board__cell[data-position="8"] {
  border-color: transparent gray gray transparent;
}

.scoreboard__label-winner,
.scoreboard__label-loser {
  display: none;
  padding: 1rem;
  background: gray;
  color: white;
}

.scoreboard--winner .scoreboard__label-winner,
.scoreboard--loser .scoreboard__label-loser {
  display: block;
}
