:root {
  --base-gray-dark: rgb(33, 25, 21);

  --base-red-dark: rgb(128, 20, 20);
  --base-red-light: rgb(182, 67, 58);

  --base-purple: rgb(112, 79, 218);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading,
h1,
h2 {
  font-family: "Quicksand", sans-serif;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(var(--base-red-light), var(--base-red-dark));
  font-size: 1.6rem;
}

.button {
  background: white;
  border-radius: 6px;
  border: 1px solid #bbb;
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  text-align: center;
  border-radius: 6px;
  margin: 0;
  padding: 1rem 2rem;
  outline: none;
  transition: box-shadow 0.2s linear;
}

.button:focus,
.button:active,
.button:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.box-shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.section__header {
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.page-wrapper {
  padding: 1rem;
}

@media screen and (min-width: 1280px) {
  .page-wrapper {
    width: 50%;
    margin: auto;
  }
}

.header__wrapper {
  background: #fff;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.header__title {
  order: 2;
}

.session-list {
  list-style: none;
  width: 100%;
  margin-top: 1.6rem;
  background: white;
}

.session-list__item {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.action-bar {
  display: flex;
  justify-content: flex-start;
}

.board {
  display: table;
  width: 150px;
  margin: 2rem auto;
  border-spacing: 0;
  zoom: 2;
  box-shadow: 0px 0px 0px 0px #eee;
  transition: box-shadow 0.2s linear;
  border: 1px solid white;
}

.board[player="a"] {
  background: rgba(239, 121, 47, 0.9);
}

.board[player="b"] {
  background: rgba(67, 76, 105, 0.9);
  /* background: rgba(112, 79, 218, 0.9); */
}

.board__row {
  display: table-row;
}

.board__cell {
  display: table-cell;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 3rem;
  line-height: 3rem;
}

.board__cell[data-state="tic"]::before {
  content: " ";
}

.board__cell[data-state="tac"]::before {
  content: "×";
}

.board__cell[data-state="toe"]::before {
  content: "O";
}

.board__cell[data-position="0"] {
  border-color: white transparent transparent white;
}

.board__cell[data-position="1"] {
  border-color: white white transparent white;
}

.board__cell[data-position="2"] {
  border-color: white white transparent transparent;
}

.board__cell[data-position="3"] {
  border-color: white transparent white white;
}

.board__cell[data-position="4"] {
  border-color: white;
}

.board__cell[data-position="5"] {
  border-color: white white white transparent;
}

.board__cell[data-position="6"] {
  border-color: transparent transparent white white;
}

.board__cell[data-position="7"] {
  border-color: transparent white white white;
}

.board__cell[data-position="8"] {
  border-color: transparent white white transparent;
}

.scoreboard {
  background: white;
  overflow: hidden;
  opacity: 0;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 6px;
  padding: 2rem;
  transition: opacity 1s linear;
}

.turn-indicator[player="a"][turn="a"],
.turn-indicator[player="b"][turn="b"] {
  box-shadow: 0px 0px 8px 2px #eee;
}

.popup-container {
  position: absolute;
  left: 50%;
  z-index: 600;
}

.popup-body {
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: rgba(9, 30, 66, 0.31) 0px 0px 1px, rgba(9, 30, 66, 0.25) 0px 20px 32px -8px;
  padding: 1rem;
  color: rgb(66, 82, 110);
  z-index: 600;
  border-radius: 3px;
  transition: background-color 200ms ease 0s;
}

.popup--visible {
  bottom: 0px;
  position: absolute;
  width: 400px;
  transition: transform 400ms ease-in-out 0s;
}
